.FooterContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem;
}
.FooterLeftWrapper {
  flex: 1;
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  margin-bottom: 1rem;
}
.FooterRightWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  color: #b1babf;
}

.FooterLinkContainer {
  color: #1671ee;
  padding: 0 1rem;
  cursor: pointer;
  border-right: 1px solid lightgray;
  white-space: nowrap;
}
.FooterLinkContainer:last-child {
  border-right: unset;
  white-space: nowrap;
}

@media only screen and (min-width: 700px) {
  .FooterContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 2rem;
    white-space: nowrap;
  }
  .FooterLeftWrapper {
    font-size: 1rem;
    justify-content: unset;
  }
}
